# macOS
.DS_Store

# Python
*.pyc
__pycache__/
deepswarm-env/

# Build files
build/
*.egg-info/
dist/

# Log files
saves/

# Temporary files
temp-model
nohup.out

.env
client_secrets.json
credentials.txt

examples/
settings/